/* ================================================= Nav Bar Region ============================================ */
nav {
    min-height: 100vh;
    height: max(100vh, 100%);
    width: 76px;
    background-color: var(--grayBack);
    padding-top: 15px;
    margin-right: 15px;
}

.logo {
    background-image: url(../images/login/logo.png);
    width: 49px;
    height: 51px;
    background-size: contain;
    background-repeat: no-repeat;
}

.navButton {
    background-color: var(--lightFont);
    height: 58px;
    width: 58px;
    border-radius: 12px;
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.navButton:hover {
    background-color: var(--orangePrimary);

}



.navButton img {
    height: 37px;
    width: 37px;
}

.navButton p {
    font-weight: 700;
    font-size: 12px;
    padding: 0;
    margin: 0;

}

.navButton:hover .icon {
    color: white;
    /* Change the color to white on hover */
}


.navButtonSelected {
    background-color: var(--orangePrimary);

}


/* =================================================End Nav Bar Region ============================================ */
/* ================================================= Main Region ============================================ */
/* ================================================= Profile Region ============================================ */