* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Arial, Helvetica, sans-serif; */
}

:root {
    --orangePrimary: #ED8E38;
    --orangeFontColor: #F08A21;
    --lightFont: white;
    --grayBack: #EDEDED;
    --grayFontColor: #505050;
    --lightGrayBackGroundColor: #E8E8E8;

}

.orangeFont {
    color: var(--orangeFontColor);
}

.orangeBackground {
    background-color: var(--orangeFontColor);
}

.grayFont {
    color: var(--grayFontColor);
}

.darkgrayBackground {
    background-color: var(--grayFontColor);
}

.lightGrayBackground {
    background-color: var(--lightGrayBackGroundColor);
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.check {
    border: solid red 1px;
}