.finalButtons {
    min-width: 100%;
}

.backToMenu {
    width: 98%;
    margin: 5px 5px;
}

.print {
    width: 98%;
    margin: 5px 5px;
}

.rightBorder {
    padding-right: 4px;
    border-right: 3px solid rgb(44, 44, 44);
}

.alright {
    text-align: right;
}

.Item img {
    height: 35px;

}

.billDataElement {
    margin: 0 0 !important;
    padding: 0px 0 !important;
    min-height: 24px;
}

@media (max-width: 900px) {
    .Item img {
        display: none;

    }

}

.Item img {
    height: 35px;
    margin-left: 5px;

}

.billElement h3 {
    font-size: clamp(10px, 3vw, 2rem) !important;
}

.billElement .cmn {
    min-width: 15%;
    overflow: hidden;
}

.billElement .Item {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.billElement {
    padding: 10px;
    display: flex;

}

.billElement .cmn {
    text-align: right;
}

.billElement p {
    margin: 0;
    font-weight: 600;
    font-size: clamp(0.7rem, 3vmin, 3rem);
}

.addresses {
    padding: 5px 3vmin 10px 30px;
}

.invoiceDesignSvg {
    width: max(20%, 100px)
}

.vrLine {
    height: 60px;
    padding-top: 3px;
}

.details p {
    margin: 0;
    font-weight: 700;
}


.InvoiceLogo img {
    height: clamp(28px, 10vmin, 60px);
}

.bottomBorder {
    border-bottom: 3px solid gray;
}

.logoAndInvoicedDesign {

    width: 100%;
    padding: 6px 0 15px 30px;
}

.billPage {
    background-color: var(--grayBack);
    min-height: 97vh;
    width: min(1042px, 100%);
    box-shadow: 0 0 7px 0 rgba(128, 128, 128, 0.649);
    margin: 10px;

}

.totalCalculation {
    background-color: var(--grayBack) !important;
    width: 98% !important;
    padding: 1vmin !important;
}

.calcItem {
    width: 100% !important;
    margin: 0 !important;
}

.totalCalculation p {
    font-size: clamp(10px, 3vmin, 1.3rem) !important;
}

.totalCalculation .total p {
    font-size: clamp(16px, 12vmin, 2rem) !important;
}